* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 1000px;
	margin: 0 auto;
	font-size: 14px;
	background: #fff;
	text-align: justify;
	color: #333;
}

h1, h2, h3 {
	font-weight: 500;
}

img {
	border: none;
}

a {
	cursor: pointer;
	color: #333;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #ccc;
}

ul {
	list-style-type: none;
}

em {
	font-style: normal;
}

.lt {
	float: left;
}

.rt {
	float: right;
}

input.sub, label {
	border: none;
	cursor: pointer;
}

.clear {
	clear: both;
}

header {
	background: #fefef6;
}

.wrapin {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

}

.head_t1 {
	padding: 10px 0;

}

header .logo {
	width: 500px;

	float: left;
}

header .logo img {
	width: 100%;

	display: block;
}

.member {
	float: right;
	line-height: 80px;
}

.member a {
	margin-right: 30px;
	margin-top: 5px;
	font-size: 16px;
}

nav {
	background:#396;
}

nav li {
	float: left;
	width: 150px;
	text-align: center;
}

nav li a {
	display: block;
	color: #fff;
	font-size: 16px;
	line-height: 50px;
}

.banner img {
	width: 100%;
	display: block;
}

.content {
	padding: 30px 0;
}

.content .tit {
	border-bottom: 2px solid #396;
}

.content .tit span {
	line-height: 38px;
	width: 220px;
	color: #fff;
	background: #396;
	display: block;
	font-size: 22px;
	text-align: center;

}

.da_img {
	width: 220px;
	float: left;
}

.da_img img {
	display: block;
	width: 100%;
}


.product_list {
	margin-bottom: 30px;
}

.product_list ul {
	float: right;
	width: 760px;
}

.product_list li {
	width: 170px;
	float: left;
	margin-right: 20px;
	margin-top: 30px;
}

.product_list li img {
	width: 100%;
	display: block;
	height: 170px;
}

.product_list .word {
	padding: 10px 0;
}

.product_list .word span {
	color: #ff9800;
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
	display: block;
}

.product_list .a1 {
	width: 100%;
	float: none;
	margin-left: 20px;
}

.product_list .a1 li {
	width: 225px;
	float: left;
	margin-right: 20px;
	margin-top: 30px;
	background: #eee;
	box-shadow: 0px 0px 5px #ccc;
}

.product_list .a1 li img {
	width: 100%;
	display: block;
	height: 225px;
}

footer {
	background: white;
	text-align: center;
	border-top: 1px solid #e8e8e8;
}

footer p {
	background: #396;
	font-weight: bold;
	color: #fff;
	padding: 15px 0;
	font-size: 16px;
}

.left {
	float: left;
	width: 200px;
	margin-top: 20px;
	border: #996666 solid 1px;
}

.bar {
	background: #396;
	color: #fff;
	padding: 15px;
	font-size: 18px;
	text-align: center;
}

.lists li {
	text-align: center;
	border-bottom: #ccc solid 1px;
	padding: 20px 0
}

.lists li img {
	width: 80%;
	display: block;
	margin: 0 auto
}

.details_con {
	width: 760px;
	float: right
}

.details_con .top {
	padding: 20px 0;
}

.details_con .top h3 {
	font-size: 30px;
	margin-bottom: 20px;
	color: #396;
	font-weight: bold
}

.details_con .top .pic {
	width: 360px;
	float: left;
}

.details_con .top .pic img {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.details_con .top .word {
	float: left;
	width: 380px;
	line-height: 22px;
	font-size: 16px;
	color: #666;
	margin-left: 20px;
}

.details_con .top .word p {
	margin-bottom: 15px;
}

.details_con .top .word .ta {
	background: #eee;
	padding: 15px;
	border: #ccc solid 1px;
	margin-bottom: 15px;
	color: #999;
}

.details_con .top .word .ta p {
	margin: 8px 0;
}

.details_con .top .word .ta span {
	color: #396;
	font-size: 30px;
	font-weight: bold;
}

.details_con .top .word .ta em {
	color: #999;
	font-size: 12px;
	text-decoration: line-through;
}

.details_con .top .btn {
	background: #396;
	padding: 0 30px;
	display: inline-block;
	height: 45px;
	line-height: 45px;
	margin-right: 20px;
	text-align: center;
	color: #fff;
	border: #396 solid 1px;
	margin-top: 20px;
	font-size: 16px;
}

.details_con .top .btn.a1 {
	background: #fff;
	border: #396 solid 1px;
	color: #396
}

.details_img {

	margin: 0 auto;
}

.details_img img {
	display: block;
}

.sign_con {
	margin: 40px 0;
}

.sign_con .pic_a {
	width: 50%;
	float: left;
}

.sign_con .pic_a img {
	width: 100%;
}

.form {
	margin: 30px auto;
	display: block;
	width: 400px;
	float: right;
	margin-right: 40px;
}

.form p {
	font-size: 14px;
}

.form .phone {
	height: 36px;
	width: 100%;
	margin: 10px 0;
}

.form .but {
	width: 120px;
	background: #396;
	color: #fff;
	height: 36px;
	margin: 10px 0;
	display: inline-block;
	border: none;
}

.form .zuc {
	float: right;
	margin: 10px 0;
	line-height: 36px;
	color: #ff9800;
}

.banner_box {
	width: 100%;
	margin: auto;
	height: 500px;
	overflow: hidden;
	position: relative;
}

.box-1 ul {}

.box-1 ul li {
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
}

.box-1 ul li img {
	display: block;
	width: 100%;
	object-fit: cover;
	height: 500px;
}

.box-1 ul li h2 {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	background: rgba(125, 125, 120, .4);
	text-indent: 2em;
	padding-right: 500px;
	font-size: 15px;
	line-height: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: normal;
	color: ghostwhite
}

.box-2 {
	position: absolute;
	right: 10px;
	bottom: 14px;
}

.box-2 ul li {
	float: left;
	width: 12px;
	height: 12px;
	overflow: hidden;
	margin: 0 5px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.5);
	text-indent: 100px;
	cursor: pointer;
}

.box-2 ul .on {
	background: rgba(255, 255, 255, 0.6);
}

.box-3 span {
	position: absolute;
	color: rgba(255, 255, 255, 0.1);
	background: rgba(255, 255, 255, 0.1);
	width: 50px;
	height: 80px;
	top: 50%;
	font-family: "宋体";
	line-height: 80px;
	font-size: 60px;
	margin-top: -40px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.box-3 .prev {
	left: 10px;
}

.box-3 .next {
	right: 10px;
}

.box-3 span::selection {
	background: transparent;
}

.box-3 span:hover {
	background: rgba(255, 255, 255, .5);
	color: rgba(255, 255, 255, 1)
}
